.footerContainer {
    padding: 1.5rem;
    margin: 0;
    text-align: center;
    background-color: var(--dp-dark);
    color: var(--dp-secondary);
}

    .footerLink {
        padding: 1rem;
    }

.instagramIcon {
    width: 3rem;
    height: auto;
    transition: all 250ms ease-out;    
}
    .instagramIcon:hover {
        scale: 1.06;
        opacity: .7;
        transition: all 250ms ease-in;    
    }

.mailIcon {
    width: 3.4rem;
    color: var(--dp-secondary);
    transition: all 250ms ease-out;
}
    .mailIcon:hover {
        scale: 1.06;
        opacity: .7;
        transition: all 250ms ease-in;
    }