.footerContainer {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--dp-dark);
    border-top: .15rem solid var(--dp-border);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: var(--dp-secondary);
}

    .footerLink {
        padding: 1rem;
    }

.instagramIcon {
    width: 3rem;
    height: auto;
    transition: all 250ms ease-out;    
}
    .instagramIcon:hover {
        scale: 1.1;
        opacity: .7;
        transition: all 250ms ease-in;    
    }

.mailIcon {
    width: 3.2rem;
    color: var(--dp-secondary);
    transition: all 250ms ease-out;
}
    .mailIcon:hover {
        scale: 1.1;
        opacity: .7;
        transition: all 250ms ease-in;
    }