/* ********
 * NAVBAR *
**********/
.navbarContainer {
    padding: 1rem .5rem;
    background-color: var(--dp-dark) !important;
    border-bottom: .15rem solid var(--dp-border);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
/* nav links (items) container */
.navLinksContainer {
    font-size: 1.5rem;
}
    .navLink {
        padding: 3px;
        color: var(--dp-secondary) !important;
        border-radius: 8px;
        transition: all 275ms ease-out;
    }
    .navLink:hover {
        color: var(--dp-accent) !important;
        scale: 1.05;
        transition: all 315ms ease-in;
    }