.contentContainer {
    width: 65%;
    padding: 2rem 0 4rem 0;
    margin: auto;
}

.drinksMenu {
    padding: 2rem 0;
    border-radius: 20px !important;
}

/* frosted glass container */
.frostedGlass {
    border-radius: 20px;
    background: #ffffff08;
    border: 3px solid #ffffff0f;
    backdrop-filter: blur(8px);
}

.br {
    width: 15%;
    height: .6rem;
    margin: -1rem auto 1rem auto;
    background-color: var(--dp-secondary);
    border-radius: 4px;
}