/* VARIABLES */
:root {
  --bg-dark: #161616; /* dark background color */

  /* dark palette */
  --dp-primary: #1e2230;
  /* --dp-primary: #4F5D75; */
  --dp-secondary: #BFC0C0;
  --dp-dark: #15171f;
  /* --dp-dark: #2D3142; */
  --dp-light: #FFFFFF;
  --dp-accent: #EF8354;
  --dp-accent-muted: #ef825421;
}


html, body {
  margin: 0;
  background-color: var(--dp-primary);
}

p {
  margin: 0;
  padding: 0;
}

.aboutUs {
  background-color: var(--bg-dark);
}