:root {
/* dark palette */
  --dp-primary: #c6c6c6;
  --dp-primary-2: #ae1428c3;
  --dp-secondary: #C0C0C0;
  --dp-dark: #1e1e1e;
  --dp-light: #dddddd;
  --dp-light-hover: #b9b9b9;
  --dp-accent: #9e573e;
  --dp-border: #ef825421;
  --dp-accent-hover: #88442c;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../public/images/backgrounds/mountains/mount-2/mount-2-inverted-darkened-v2.png");
  background-color: var(--dp-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

html, body, main {
  height: 100%;
  margin: 0;
}

main, body {
  border-radius: 10px;
  height: fit-content;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 3rem !important;
  margin-bottom: 1rem;
  color: var(--dp-accent);
}

h4 {
  margin: 0;
}

p {
  font-size: 1.1rem;
  text-indent: 1em;
}

div.navLink {
  margin: 1rem !important;
}

input {
  margin: .2rem;
  background: none;
  border: none;
  border-bottom: 2px solid var(--dp-accent);
  border-radius: 2px;
  color:var(--dp-secondary);
}

button {
  background-color: var(--dp-accent) !important;
  border-color: var(--dp-accent) !important;
}


/*****************
 * CUSTOM STYLES *
 ****************/

 /* frosted glass container */
 .frostedContainer {
  width: fit-content;
  height: auto;
  margin: 4rem auto 1.4rem auto;
  box-shadow: 0 0 1rem 0 var(--dp-secondary);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}
  .frostedContainer:before {
      content: "";
      position: absolute;
      background: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.272);
      filter: blur(10px);
      margin: -20px;
  }