:root {
/* dark palette */
  --dp-primary: #1e2230;
  --dp-secondary: #C0C0C0;
  --dp-dark: #15171f;
  --dp-dark-faint: #15171f95;
  --dp-light: #FFFFFF;
  --dp-accent: #a05134; 
  --dp-border: #ef825421;
  --dp-hover: #a05134cd;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../public/images/backgrounds/mountains/mount-1/mount-1-darkened.png");
  background-color: var(--dp-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

html, body, main {
  height: 100%;
  margin: 0;
}

main, body {
  border-radius: 10px;
  height: fit-content;
}

h4 {
  margin: 0;
}

p {
  font-size: 1.1rem;
  text-indent: 1em;
}

input {
  margin: .2rem;
  background: none;
  border: none;
  border-bottom: 2px solid var(--dp-accent);
  border-radius: 2px;
  color:var(--dp-secondary);
}

button {
  background-color: var(--dp-accent) !important;
  border-color: var(--dp-accent) !important;
}


/*****************
 * CUSTOM STYLES *
 ****************/

 /* frosted glass container */
 .frostedContainer {
  width: fit-content;
  height: auto;
  margin: 4rem auto 1.4rem auto;
  box-shadow: 0 0 1rem 0 var(--dp-secondary);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}
  .frostedContainer:before {
      content: "";
      position: absolute;
      background: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.272);
      filter: blur(10px);
      margin: -20px;
  }