.mainContainer {
}

.comingSoonContainer {
    padding: 1rem;
}

.header {
    color: var(--dp-secondary) !important;
}

.largeLogoContainer {
    display: flex;
    width: 100%;
    max-width: 100%;
    background-color: rgb(104, 37, 37);
    border-radius: 40px;
}

/* frosted glass container */
.frostedGlass {
    width: 40%;
    border-radius: 20px;
    background: #ffffff08;
    border: 2px solid #ffffff10;
    backdrop-filter: blur(8px);
}