.mainContainer {
    /* background-color: var(--dp-primary) !important; */
    color: var(--dp-light) !important;
    /* border: 2px solid red; */
}

.head {
    margin: 0;
}
.subHead {
    margin-top: -4px !important;
}