.mainContainer {
    color: var(--dp-secondary) !important;
}

.headerContainer {

}
    .head {
        margin: 0;
    }
.subHead {
    margin-top: -.1rem !important;
    font-size: 1.1rem !important;
}

.largeLogoContainer {
    display: flex;
    width: 100%;
    max-width: 100%;
    /* height: auto; */
    /* margin: auto; */
    background-color: rgb(104, 37, 37);
    border-radius: 40px;
}