.ourStoryContainer {
    padding: 1.8rem;
    color: var(--dp-secondary);
}

.contentContainer {
    padding: 2rem 5rem;
}

/* frosted glass container */
.frostedGlass {
    border-radius: 20px;
    background-color: #ffffff08;
    border: 2px solid #ffffff06;
    backdrop-filter: blur(8px);
}

.br {
    width: 21%;
    height: .6rem;
    margin: -1rem auto 1.2rem auto;
    background-color: var(--dp-secondary);
    border-radius: 4px;
}