.logoContainer {
    margin: auto;
    padding: 1rem;
    /* border: .22rem solid var(--dp-dark); */
    border-radius: 40px;
    transition: all 180ms ease-out;
}

.largeLogo {
    max-width: 100%;
    height: auto;
}